container_commands:
  02_make_migrations:
    command: "python manage.py makemigrations"
    leader_only: true
  03_migrate:
    command: "python manage.py migrate"
    leader_only: true

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SECRET_KEY: "_hjyk)x4n1427a6@m6@l#fo+!6r9%x1ptng+10ie()70mabj70"
    PYTHONPATH: "$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "sentad/wsgi.py"

packages:
  yum:
    postgresql95-devel: []