container_commands:
  01_install_dev:
    command: "pip install -r requirements/dev.txt"
    test: '[ "${DJANGO_ENV}" == "development" ]'
  02_collect_static:
    command: "python manage.py collectstatic --noinput"
    test: '[ "${DJANGO_ENV}" == "development" ]'
  03_flushDB:
    command: "python manage.py flush"
  04_make_migrations:
    command: "python manage.py makemigrations"
    leader_only: true
  05_make_migrations_authentication:
    command: "python manage.py makemigrations authentication"
    leader_only: true
  06_migrate:
    command: "python manage.py migrate"
    leader_only: true
  07_create_supersu:
    command: "python manage.py createsu"
    leader_only: true

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SECRET_KEY: "_hjyk)x4n1427a6@m6@l#fo+!6r9%x1ptng+10ie()70mabj70"
    "PYTHONPATH": "/opt/python/current/app/sentad:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "sentad/wsgi.py"

packages:
  yum:
    postgresql95-devel: []