container_commands:
  01_make_migrations:
    command: "python manage.py makemigrations"
    leader_only: true
  02_make_migrations_authentication:
    command: "python manage.py makemigrations authentication"
    leader_only: true
  03_migrate:
    command: "python manage.py migrate"
    leader_only: true

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "sentad.settings"
    PYTHONPATH: "$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "sentad/wsgi.py"

packages:
  yum:
    postgresql95-devel: []